<html>
  <head>
    <style>
    * {
        box-sizing: border-box;
    }
    .column1 {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
   .column2 {
        float: right;
        width: 33.33%;
        padding: 5px;
    }
    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    </style>
    <title>Video Streaming Demonstration</title>
  </head>
  <body >
  	<br><br>
    <Center><H1 style="color:white;" >Test</H1>
    	<br><br>
    	<br><br>
    	<div style="display: inline-block">
   			<img id="1" border="3" src="{{ url_for('video_feed') }}"
		</div>
    </Center>



  </body>
</html>
